 /* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


/* typography
==================================================*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size:6vmin;
    line-height: 10vmin;
    text-align:center;
}

h4 {
    font-family: 'Lato', sans-serif;
   font-size:3.4vmin;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    margin-left: 10vmin;
   
}




 /*preloader start*/

#loading {
  overflow: hidden;
 
}
#loader {
     width: 20vmax;
     height: 50vmax;
     
     margin:auto;
     background-image: url(../img/other/preloader.jpg);
     background-repeat: no-repeat;
     background-position: center;
 
}

#mycontent{
  display:none;
} 
/*preloader end*/

/* Header
==================================================*/

header {
    text-align: center;
   
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 2vmin;
    margin-bottom: 0;
  }

nav li {
    display: inline-block;
    margin: 2vmin;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    font-size: 2vmin;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
   padding:0.4vmin;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #425BB5;
    text-decoration: none;
}

a.active {
    color: #425BB5;
}

/*header end*/



/* home section
==================================================*/

#home {
    background: url(../img/other/road.png);
    background-size: cover;
    height: 100vh;
    box-shadow: 2px 5px 5px  #888888;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    
}

.disply-table {
    display: table;
    height: 100vh;
    text-align:center;
   


} 
/*home secttion end*/

/* Paragraph */
p {
    line-height: 5vmin;
    margin-bottom:2vmin;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
   
    padding: 0;
}

/*Global styles*/
p > sm{
    font-size:2.7vmin;
}

.desc p{
 font-family: "Raleway";
    font-size:2.8vmin;
   }



#education{
  padding-top:20px;
}
.top-adjust{
   padding-top: 30px;

}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

sm {
  font-size: 12px;
}

.resume-heading{
  font-size:5vmin;
  color:#7395AE;
  text-align:center;
  font-family:'Playfair Display',verdana;
  font-weight:bold;
  text-shadow: 2px 2px 8px #7395AE;
  
}

#image-style{
    height:41.3vmin;

    box-shadow: 2px 5px 5px  #888888;;
}



.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.modal-content {
  height: auto;
  min-height: 100%;

  border-radius: 0;
}

.box-style{
    box-shadow: 2px 5px 5px  #888888;
    margin-top:8px;
    margin-bottom:15px;
}


@media (max-width: 768px) {
  #navbar li { width:100%; }
}

.box-img{
    height:250px;
    opacity:0.7;
    width:100%;
    
}
.text-style{
  font-size:15px;
  position:absolute;
  top:45%;
  background-color:white;
  width:90%;
  color:#557A95;
 
  

}
.modal-heading{
  font-size:3.8vmin;
  
  font-family:'Playfair Display',verdana;
  
  text-shadow: 2px 2px 8px #7395AE;
}

.remove-opacity{
    opacity:1;
}

.modal-body p{
    font-family:garamond;
    font-size:3.3vmin;
    margin-top:6px;
}

/*skills section progress bar start*/

#progress {
    background: #333;
    border-radius: 13px;
    height: 3.6vmin;
    width: 60vmin;
    padding: 3px;
    
}

#progress span {
    
    display: block;
    background: #557A95;
    height:100%;
    

    border-radius: 9px;
   

}
#adjust{
  
  z-index:1;
 color:white;
 margin-top:-3.6vmin;
  margin-left:50vmin;
   font-size:3.2vmin;
}
@media (max-width: 768px) {
	#progress {
    background: #333;
    border-radius: 13px;
    height: 16px;
    width: 60vmin;
    padding: 3px;
    
}



	}
@media (max-width: 768px) {
  .sm-screen-adjust{
    margin-top:5vmin;
  }
  .sm-screen-left{
    margin-left:6vmin;
    margin-right:6vmin;
  }
  
}
@media (max-width: 1024px) {
.sm-screen-contact{
   text-align:center;
    margin-top:5vmin;

  }
}
/*end*/
/*#mycontent{
  overflow-x: hidden;
}*/